{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="http://voyager.dev/vendor/tcg/voyager/assets/images/logo-icon.png" type="image/x-icon">
    <title> {% block head_title %} {% endblock head_title %}
</title>
{% include 'snippets/css.html' %}
</head>

<body>
    <!-- Navigation -->
{% include 'snippets/nav.html' %}
{% block content %}
{% endblock content %}

<!-- Footer -->
{% include 'snippets/footer.html' %}
{% include 'snippets/js.html' %}

</body>

</html>
